amqp==1.4.9
anyjson==0.3.3
asgi-redis==0.14.0
asgiref==0.14.0
attrs==21.2.0
autobahn==0.15.0
Automat==20.2.0
billiard==3.3.0.23
celery==3.1.23
certifi==2019.11.28
cffi==1.14.5
channels==0.17.0
constantly==15.1.0
cryptography==3.3.2
daphne==0.14.2
dbus-python==1.2.16
Django==1.9.8
enum34==1.1.10
gunicorn==19.7.1
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
ipaddress==1.0.23
kombu==3.0.35
lxml==4.9.1
msgpack-python==0.4.7
olefile==0.46
openvas-lib==1.1.4
pdfkit==0.6.1
Pillow==6.2.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycparser==2.20
pyenchant==2.0.0
PyHamcrest==1.10.1
pylibemu==0.3.3
pymetasploit==1.1
pyOpenSSL==20.0.1
PyPDF2==1.26.0
pytz==2016.6.1
redis==2.10.5
reportlab==3.5.47
service-identity==21.1.0
six==1.10.0
Twisted==16.2.0
txaio==2.5.1
typing==3.10.0.0
urllib3==1.25.6
webencodings==0.5.1
zope.interface==4.2.0
